.add-container{
    width: 80%;
    height: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid red;
    background-color: white;
    .add-title{
        display: flex;
        justify-content: space-between;
    }
}